body {
	font: 14px 'Century Gothic', Futura, sans-serif;
	margin: 20px;
}
input[type='date']::-webkit-inner-spin-button {
	display: none;
}
input[type='time']::-webkit-inner-spin-button {
	display: none;
}

input::-webkit-calendar-picker-indicator {
	display: none;
}
